OCI_USER=ocid1.user.oc1..aaaaaaaanlboeta5hseln3zezt7rw23xavnv5eprza5gy54zeaji25z7qicq
OCI_TENANCY=ocid1.tenancy.oc1..aaaaaaaanvuylde4zhljofhv65xtdcjbxvufegcypyhde2h5zuhbasoaiqxa
OCI_REGION=me-riyadh-1
OCI_FINGERPRINT=ed:82:67:c3:ff:2b:3f:d9:92:fb:6e:de:54:4c:46:74
OCI_KEY_CONTENT=-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDDpbozuqd3fmTa
T3CDzSr4IUsvnYlSevW0ZY0gCScyo+X/ZbmOy91Klppiu4PzNpmn7e691fC/kxNI
S7288e7NTNnKw07BuyQiUtdXTYBabjzSJK8ygN/aI1z7GKmskSnIu/1KfdfhoH3n
LydPJRe0+VRj+d/dJCBP+WhLJW0DxzwInWjvKXzxdBClCB2mCZK+k7gFTvc8UB5C
H8SY475VVA80/OhFcimlzmg5bHGkj6SKd1qimN6uClBiKJba/DqPEjyWgVICGZuF
bZUUPDG5koQCHa6jxSSy0P2LuGqFZgQp7Te1cfcKfr4hPKBY+6hLTmFT6hAlNnwK
FkWDffhRAgMBAAECggEAG0XN6Aob8CSsCwv0g5r6Y25uBwGEiVKJ+mSxldv7coFg
aAgWeW5iYam5dGFD/90GRwom3qBPwr94z6TR7+B1ySPuXufM4bqkSy3rG3NlR2CD
P/P3LCjE4P6kUShbS//2/XwfJImC/3kaM+Y3Kj7hyCDS1RZEUOpeoBIEqievGPh9
MhfM43gVVLXqkxJZefZMDsWHGEzdGeD3jCSQganjG8O/FSgfZpOf0wXeBeRwC7r5
SKiVQrilzfTMpjLQMp0zI1Ja0MEuKH9AOUbZHr8t0tx0NzBMsY09ljym9J9iLRix
w0YgpXEl5aDwPF3OQ9EjvoLQM8tHUm6KgN1xW4SzNQKBgQD5NED+iePXgWsKjfbX
9PDpUwRDRpGhV1lGfs04YBq+A9SUQJUH/OV9mtzE8RIVVnAdrLf06Z4pQB+8mSRO
1i6rS381vbYbJL5Tg6uOPnagFfNDC+N3QIaUtiB8bDSN0ELrMVrDPOVHy+sBNzsC
pnSpAiJIsLk7oiXtVob7M+tYvwKBgQDI+5UmwvNVGq66kjBodVmw6NI3tWQHAp51
bjnJPPMMzqhlkTh+cFl0iBlVnL4QkPSFnZJSTdqItTvyFrpBMorfxn0jP7DbfAiu
HR1gc5fD0O9ul3rUQluSGnX6yX8hzkkskZDvRok1rCN3frVxmewHaaS9OM48ap1X
iuuBK3Ni7wKBgH9lHiDBnw9JYs43esw1tH6i6Nf3mHUxcTsfkYvTXXhr/t13EnjN
6QfIBjpLvuHXmWMiK7xxPWB7Hn5Mj4oZ5iu9YZ+4hwLjSsTo1+fUuNHnxr8ssbEB
9IrLfFn++vLQV5ViWrLaS5/jeBTcBje5noPTynD8nwUERH1LMZ/zj8mDAoGAI+Yc
HBJSWG8tqpGWJ/JeFOVhNyYlOcNT/nGzzKggWbdICOxJhPwYXmI49DvNDzR1GLCu
hBj34ddNX86DckXO3G2dyIAF3Q5oloEI0EOVZhqZyc0w2V0I8i3byPHYzXcFRvqx
Qqv8siOPKjbtvd7ac/CAxnOxEsWQWSStMCNMtu0CgYBkEPlB58tE3W84b+Pd83Eq
pzclQp8mlN07iEIfCGHxisMgXYB4pbZDESZQZfW63o4UCArPB+jrce5RJXvanypc
O6emtuLAnbmMpOQhHnvcDno4uAv9qB7wvPLY1uzNFj4TuFr7JyIEW6ofS/b+OAgU
oEpSUZM5j+FAh7bgMYEHwg==
-----END PRIVATE KEY-----

OCI_SUBNET_ID=ocid1.subnet.oc1.me-riyadh-1.aaaaaaaa57eahlawjpumcikzh4swo7cv4z3oyhjrh4rsdzus6qrwg4rf6ira
OCI_IMAGE_ID=
OCI_COMPUTE_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=4
OCI_MEMORY_IN_GBS=24
OCI_BOOT_VOLUME_SIZE=100
OPERATING_SYSTEM=Canonical Ubuntu
OS_VERSION=22.04
ASSIGN_PUBLIC_IP=true
OCT_FREE_AD=AD-1
